<div class="stock-quote-card">

    <div class="card-left">
<!--        TODO - add the content shown in the mockup -->
    </div>
    <div class="card-right">
        <h3><%- name %></h3>
        <p class="stock-symbol-label"><%- symbol %></p>
        <p class="stock-price"><%- this.formatMoney(price) %> <span><%- this.formatMoney(change) %> (<%- changePercent %>)</span></p>
        <p class="stock-recent-performance">
            <span>OPEN <%- this.formatMoney(open) %></span>
            <span>HIGH <%- this.formatMoney(high) %></span>
            <span>LOW <%- this.formatMoney(low) %></span>
        </p>
    </div>
</div>