<aside class="stock-card-left" role="complementary">
    <div class="stock-graph <%= changeClass %>" role="img" aria-label="Stock graph depicting stock prices">
        <div class="stock-graph-indicator"></div>
        <div class="stock-graph-range-bar"></div>
        <div class="stock-range-container">
            <div class="stock-graph-high"><%- formatMoney(high) %></div>
            <div class="stock-graph-low"><%- formatMoney(low) %></div>
        </div>
    </div>
</aside>
<section class="stock-card-right">
    <header class="stock-info">
        <h3 class="stock-title" id="stockName-<%- name %>"><%- name %></h3>
        <div class="stock-symbol-label" aria-describedby="stockSymbol-<%- symbol %>"><%- symbol %></div>
    </header>
    <div class="stock-price" aria-live="polite">
        <%- formatMoney(price) %>
        <span class="stock-price-change <%= changeClass %>">
            <% if (change < 0) { %>
            <svg class="stock-arrow-down" role="img" aria-label="Stock price down">
                <use href="../../assets/icons.svg#arrow-down"></use>
            </svg>
            <% } else { %>
            <svg class="stock-arrow-up" role="img" aria-label="Stock price up">
                <use href="../../assets/icons.svg#arrow-up"></use>
            </svg>
            <% } %> <%= changeFixed %>
            <span class="<%= percentClass %>">(<%- changePercentFixed %>)</span>
        </span>
    </div>
    <footer id="test" class="stock-recent-performance" role="contentinfo">
        <div class="stock-recent-performance-detail">OPEN <span class="money-type"><%- formatMoney(open) %></span></div>
        <div class="stock-recent-performance-detail">HIGH <span class="money-type"><%- formatMoney(high) %></span></div>
        <div class="stock-recent-performance-detail">LOW <span class="money-type"><%- formatMoney(low) %></span></div>
    </footer>
</section>
