<div class="stock-card-left">
    <!-- @TODO - add the content shown in the mockup -->
</div>
<div class="stock-card-right">
    <h3 class="stock-title"><%- name %></h3>
    <div class="stock-symbol-label"><%- symbol %></div>
    <div class="stock-price">
        <%- formatMoney(price) %>
        <span class="stock-price-change"><%- formatMoney(change) %> (<%- changePercent %>)</span>
    </div>
    <div class="stock-recent-performance">
        <span class="stock-recent-performance-detail">OPEN <%- formatMoney(open) %></span>
        <span class="stock-recent-performance-detail">HIGH <%- formatMoney(high) %></span>
        <span class="stock-recent-performance-detail">LOW <%- formatMoney(low) %></span>
    </div>
</div>
